body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#eaeaea);
    padding: 50px;
}

.form-container {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #64b055;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4a7722;
}